spring:
  application:
    name: profile-service
  datasource:
    url: jdbc:postgresql://${DB_HOST:database}:${DB_PORT:5432}/${DB_NAME:werewolf_db}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
server:
  port: 8086
